extension/EdFi.Ods.Extensions.EdFiLMS/Artifacts/Schemas/EXTENSION-Ed-Fi-Extended-Core.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/3.3.0-a" xmlns:ann="http://ed-fi.org/annotation" targetNamespace="http://ed-fi.org/3.3.0-a" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="Ed-Fi-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Ed-Fi 3.3.0-a Extensions =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Domain Entities =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-Assignment">
    <xs:annotation>
      <xs:documentation>Course work assigned to students enrolled in a section.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="AssignmentIdentifier" type="EXTENSION-Identifier">
            <xs:annotation>
              <xs:documentation>A unique string assigned to the assignment, based on the source system of record.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SectionIdentifier" type="SectionIdentifier">
            <xs:annotation>
              <xs:documentation>The local identifier assigned to a section.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SourceSystem" type="SourceSystemDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The system code or name providing the assignment data.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>SourceSystemDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Title" type="EXTENSION-Title">
            <xs:annotation>
              <xs:documentation>The assignment title or name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AssignmentCategory" type="EXTENSION-AssignmentCategoryDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The category or type of assignment.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-AssignmentCategoryDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="AssignmentDescription" type="Description" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The assignment description.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StartDateTime" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The start date and time for the assignment. Students will have access to the assignment after this date.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDateTime" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The end date and time for the assignment. Students will no longer have access to the assignment after this date.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DueDateTime" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The date and time the assignment is due.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubmissionType" type="EXTENSION-SubmissionTypeDescriptorReferenceType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The type(s) of submissions available for the assignment.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-SubmissionTypeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="MaxPoints" type="EXTENSION-Points" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The maximum number of points a student may receive for a submission of the assignment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SectionReference" type="SectionReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Reference to an Section in the standard Ed-Fi data model.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-AssignmentSubmission">
    <xs:annotation>
      <xs:documentation>A user's submission of course work for an assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="AssignmentSubmissionIdentifier" type="EXTENSION-Identifier">
            <xs:annotation>
              <xs:documentation>A unique numeric identifier assigned to the submission.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AssignmentReference" type="EXTENSION-AssignmentReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the Assignment</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StudentReference" type="StudentReferenceType">
            <xs:annotation>
              <xs:documentation>A reference to the user providing the assignment submission.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubmissionStatus" type="EXTENSION-SubmissionStatusDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The status of the submission in relation to the late acceptance policy.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-SubmissionStatusDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubmissionDateTime" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>The date and time of the assignment submission.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EarnedPoints" type="EXTENSION-Points" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The points earned for the submission.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Grade" type="EXTENSION-Grade" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The grade received for the submission.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Descriptors =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-AssignmentCategoryDescriptor">
    <xs:annotation>
      <xs:documentation>The category or type of assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-SubmissionStatusDescriptor">
    <xs:annotation>
      <xs:documentation>The status of the submission in relation to the late acceptance policy.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-SubmissionTypeDescriptor">
    <xs:annotation>
      <xs:documentation>The type(s) of submissions available for the assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Associations =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Extended Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-AssignmentIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of an Assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AssignmentIdentifier" type="EXTENSION-Identifier">
        <xs:annotation>
          <xs:documentation>A unique string assigned to the assignment, based on the source system of record.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-AssignmentReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an Assignment. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="AssignmentIdentity" type="EXTENSION-AssignmentIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of an Assignment.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-AssignmentSubmissionIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of an AssignmentSubmission.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AssignmentSubmissionIdentifier" type="EXTENSION-Identifier">
        <xs:annotation>
          <xs:documentation>A unique numeric identifier assigned to the submission.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-AssignmentSubmissionReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an AssignmentSubmission. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="AssignmentSubmissionIdentity" type="EXTENSION-AssignmentSubmissionIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of an AssignmentSubmission.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Extended Descriptor Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-AssignmentCategoryDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The category or type of assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SubmissionStatusDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The status of the submission in relation to the late acceptance policy.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SubmissionTypeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The type(s) of submissions available for the assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Common Types =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Enumerations and Enumerated Collections =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== String Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-Grade">
    <xs:annotation>
      <xs:documentation>The user's letter or numeric grade for the section.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-Identifier">
    <xs:annotation>
      <xs:documentation>A unique string identifier.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-Title">
    <xs:annotation>
      <xs:documentation>The entity title or name.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Numeric Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-Points">
    <xs:annotation>
      <xs:documentation>The points associated with a submission for an assignment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int" />
  </xs:simpleType>
</xs:schema>
